@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  width: 100vw;

  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.02rem;
}
main {
  overflow-x: scroll;
}

main::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.konyvek {
  width: fit-content;
  display: flex;
  margin: auto;
  height: 20rem;
  min-width: 500px;
  overflow: hidden;
}
.konyvek div {
  margin: auto;
}
.konyvek img {
  cursor: pointer;

  transition: ease-in-out 0.5s;
}
.konyvek img:hover {
  transform: scale(1.5);
}

.uj-konyv-form {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 500px;
  height: 100%;
  padding-top: 2rem;
  gap: 1rem;
  background-color: rgb(255, 251, 251);
  justify-content: stretch;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.uj-konyv-form img {
  height: 60%;
}
.uj-konyv-form label {
  min-width: 100px;
  display: inline-block;
}
.uj-konyv-form input {
  outline: none;
  min-width: 300px;
  text-indent: 10px;
  padding: 0.25rem;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.uj-konyv,
.mod-konyv,
.del-konyv,
.uj-kedvenc {
  width: 100px;
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  margin: auto;
  transition: ease-in-out 0.15s;
  background-color: dodgerblue !important;
  color: white;
  border-color: dodgerblue;
  border: 1px solid;
  margin: 0.5rem;
  background-color: unset;
}

.konyv-gombok {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bal,
.jobb {
  font-size: 1.2rem;
  background-color: unset;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: dodgerblue;
  transition: ease-in-out 0.3s;
  border-color: dodgerblue;
  color: dodgerblue;
  border: 1px solid;
  margin: 0.5rem;
  margin-top: 0;
}
.bal:hover,
.jobb:hover,
button:hover {
  color: dodgerblue;
  border-color: transparent;
}
.konyv-control {
  border-radius: 5px;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}
.hiba-uzenet {
  margin: 1rem;
  text-align: center;
  color: rgb(238, 34, 34);
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 1rem;
  background-color: whitesmoke;

  top: 0;
}
header .icon,
.uj-konyv-form .icon {
  width: 50px;
  height: auto;
}

header div {
  cursor: pointer;

  transition: ease-in-out 0.3s;
}
header div:hover {
  color: dodgerblue;
}
section {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  height: fit-content;
  margin: 1rem;
}
.lista {
  background-color: whitesmoke;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}
.lista ul h2 {
  color: dodgerblue;
  border-bottom: 1px solid;
  border-color: dodgerblue;
  font-style: italic;
}
.lista ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  padding: 0.5rem;
}
.lista ul li {
  text-indent: 2rem;
  list-style-type: none;
  padding-top: 1.25rem;
}
.new_mod_del-close {
  padding-bottom: 1rem;
}
.welcome-user {
  text-align: left !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.welcome-text1 {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: dodgerblue;
}
.welcome-text {
  text-transform: uppercase;

  color: dodgerblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* header linkek */
.new_mod_del-open {
  transition: ease-in-out 0.3s;
  padding: 0.5rem;
  border-bottom: 1px solid transparent;
}
.logout {
  transition: ease-in-out 0.3s;
  padding: 0.5rem;
  border-bottom: 1px solid transparent;
}
.new_mod_del-open:hover,
.logout:hover {
  border-bottom: 1px solid dodgerblue;
}
#kereses {
  margin: auto;
  width: 400px;
  padding: 1rem;
  display: block;
  margin-top: 0.5rem;
  outline: none;
  background-color: whitesmoke;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}
.username {
  font-size: 1rem;
}
.kedvencGomb {
  background-color: yellow !important;
  color: black;
}

.kedvenc-lista h2,
.lista h2 {
  text-transform: uppercase;
  text-align: center;
}
.kedvenc-lista ul{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.kedvenc-lista ul li {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  gap: 1rem;
  align-items: center;
  min-width: 200px;
}
.kedvenc-lista ul li img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
:root {
  --button-red: rgb(247, 44, 44);
}
.kedvenc-lista ul li .torles {

  background-color: transparent;
  display: block;
  border: none;
  font-weight: bold;
  padding: .5rem;
  border-radius: 5px;
  color: var(--button-red);
  cursor: pointer;
}
.kedvenc-lista ul li:hover{
  background-color: whitesmoke;
  cursor: pointer;
}